<div class="header">
  <h1>Articles</h1>
  <h2>Add an article</h2>
</div>

<div class="container">
  <%= simple_form_for(@article) do |f| %>
    <%= f.input :title %>
    <%= f.input :content%>
    <%= f.submit class: "btn btn-secondary" %>
  <% end %>
</div>
